body {
    background: url("https://images.unsplash.com/photo-1525361970864-7d5a27a0540f?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80") no-repeat;
    background-size: cover;
}

.drums,
.bass,
.sounds {
    padding: 5px;
    margin: 5px;
    background-color: grey;
}

.playing {
    background: rgb(101, 233, 101);
}

.loopProgress {
    height: 10px;
    width: 1px;
    color: white;
}