/* Header Part */
.header-top {
	background: url(../images/scale.png) repeat-x bottom left #76C7C1;
}

.logo {
	float: left;
	padding: 18px 0;
}

.nav-menu {
	float: right;
}

.nav-menu ul li {
	float: left;
}

.page-title {
	float: left;
}

.breadcrumb {
	float: right;
}

.thoughts {
	float: left;
	line-height: 0;
}

/* Body Part */

.main-wrapper {
	padding: 25px 0;
}

.main-top {
	padding: 25px 0
}

.main-paragraph {
	padding: 30px 0;
}

.col-3-main {
	padding: 25px 0;
}

.col-3-left {
	float: left;
	width: 270px
}

.col-3-right {
	float: right;
	width: 910px;
}

.col-2-left {
	float: left;
	width: 640px;
}

.col-mid-status {
	float: left;
	padding: 20px 18px;
}

.col-mid-status ul li {
	float: left;
	width: 120px;
	padding: 0 12px;
	text-align: center;
	font-weight: bold;
}

.col-2-right {
	float: right;
	width: 270px;
}

.col-2-right-paragraph {
	line-height: 18px;
	padding-top: 26px;
}

.col-2-right-paragraph P {
	background: url(../images/col2rightbg.png);
	padding: 20px;
}

.thoughts img {
	float: left;
}

.johndoe {
	float: right;
	padding: 16px;
}

/*Footer Part*/
.footer-top {
	background: url(../images/bottom-repeat.png) repeat-x #76c7c1;
}

.footer-col-4-left {
	float: left;
	width: 390px;
}

.footer-col-4-left .logo {
	float: left;
	padding: 0;
}

.footer-col-4-left-paragraph {
	float: left;
	padding: 28px 35px 28px 0;
}

.footer-col-4-left-contact {
	float: left;
}

.footer-col-4-right {
	float: right;
	width: 790px;
}

.footer-col-3-left {
	float: left;
	width: 200px;
}

.footer-col-3-right {
	float: right;
	width: 590px;
}

.footer-col-2-left {
	float: left;
	width: 200px;
}

.footer-col-2-right {
	float: right;
	width: 390px;
}

.blog-img {
	float: left;
	width: 65px;
}

.blog-detail {
	float: right;
	width: 325px;
}


.footer-bottom {
	background: #6bb4ad;
}

.footer-bottom-left {
	float: left;
	line-height: 50px;
}

.footer-bottom-right {
	float: right;
}